@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/avenir-35.woff') format('woff'), url('./fonts/avenir-35.ttf') format('ttf');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/avenir-45.woff') format('woff'), url('./fonts/avenir-45.ttf') format('ttf');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	src:  url('./fonts/avenir-55.woff') format('woff'), url('./fonts/avenir-55.ttf') format('ttf');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 600;
	src:  url('./fonts/avenir-65.woff') format('woff'), url('./fonts/avenir-65.ttf') format('ttf');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 800;
	src:  url('./fonts/avenir-85.woff') format('woff'), url('./fonts/avenir-85.ttf') format('ttf');
}

html{
	padding:0px;
	margin:0px;
	overflow-x:hidden;
    overflow-y:hidden;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
body{
	padding:0px;
	margin:0px;
	overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
	font-family:'Avenir';
	background:#F2F3F5;
}

*{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
	-webkit-appearance:none;
	appearance:none;
	-webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

a{
	text-decoration:none;
	color:inherit;
}